{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
        <!-- action은 경로, 비워놓으면 현재 페이지로 전송 -->
            {{ form.hidden_tag() }}
            <!-- form.hidden_tag()는 보안용, SECRET_KEY를 불러낸다고 보면됨 -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">비밀번호 초기화</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>
{% endblock content %}